.background--01 {

	&,
	& .background:before {
		background: none;
	}
}

.background--02 {

	&,
	& .background:before {
		background: #D6D0C8;
	}
}

.background--03 {

	&,
	& .background:before {
		background: #E9E7E3;
	}
}

.background--04 {

	&,
	& .background:before {
		background: none;
	}
}

.background--05 {

	&,
	& .background:before {
		background: none;
	}
}

.background--06 {

	&,
	& .background:before {
		background: none;
	}
}

.background--07 {

	&,
	& .background:before {
		background: none;
	}
}

.background--08 {

	&,
	& .background:before {
		background: none;
	}
}

.background--09 {

	&,
	& .background:before {
		background: none;
	}
}

.background--10 {

	&,
	& .background:before {
		background: none;
	}
}

.background--11 {

	&,
	& .background:before {
		background: none;
	}
}

.background--12 {

	&,
	& .background:before {
		background: none;
	}
}

.background--13 {

	&,
	& .background:before {
		background: none;
	}
}

.background--14 {

	&,
	& .background:before {
		background: none;
	}
}

.background--15 {

	&,
	& .background:before {
		background: #908F8F;
	}
}
