/*
html {
	scroll-behavior: smooth;
}
*/

/*
html,
body {
	width: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
}

body {
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	scroll-behavior: smooth;

	&.opened {
		height: 100vh !important;
		overflow: hidden;
	}
}
*/

html {
	position: relative;
	width: 100%;
	height: 100%;
	scroll-behavior: initial;

	&.virtual-scrolled {
		overflow: hidden;
	}

	&.smooth-scrolled {
		overflow-x: hidden;
		overscroll-behavior: none;
		// -webkit-overflow-scrolling: touch;
	}
}

body {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
	scroll-behavior: initial;

	.virtual-scrolled>& {
		overflow: hidden;
		height: 100%;
	}

	.smooth-scrolled>& {
		// overflow-x: hidden;
	}

	&:not(.ready) {
		position: fixed;
		overflow: hidden;
		height: 100vh;
	}
}

.virtual-scroll {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	overscroll-behavior: none;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;

	.virtual-scroll-target {
		position: fixed;
		top: 0;
		left: 50%;
		width: 100%;
	}
}

.smooth-scroll {
	.smooth-scroll-target {
		position: fixed;
		top: 0;
		left: 50%;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
}

ng-transclude {
	display: block;
	position: static;
}

.hidden {
	display: none;
}

[data-shadow] {
	box-shadow: 10px 20px 20px -8px rgba(0, 0, 0, 0.15);
}

[unselectable] {
	-webkit-touch-callout: none;
	user-select: none;
}

/*
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	background-color: $background-tertiary;
	border-radius: 2px;
}

::-webkit-scrollbar-thumb {
	background: $background-negative;
	border-radius: 2px;
}
*/

.svg-sprites {
	height: 0;
	width: 0;
	position: absolute;
	visibility: hidden;
}

.border-bottom {
	border-bottom: 2px solid $border;
}

.border-top {
	border-top: 2px solid $border;
}

.strict {
	.page {
		max-width: 1920px;
	}

	.wrapper--header {
		max-width: 1920px;
	}

	.section--header {
		.inner {
			max-width: 1920px;
		}
	}

	footer {
		.inner {
			width: 100%;
			margin: 0 auto;
		}
	}
}
