a,
button,
[ng-reflect-router-link],
.btn {
	display: inline-block;
	border: none;
	outline: none;
	cursor: pointer;
	transition: ease-in-out 350ms;
	transition-property: background-color, color, border, opacity, visibility;

	&,
	&:active,
	&:focus,
	&:hover,
	&:visited {
		color: inherit;
		text-decoration: none;
		outline: none;
	}

	/*
	&:hover {
		box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.15);
	}
	*/

	&[disabled] {
		opacity: 0.5;
		pointer-events: none;
	}
}

a:not([class]) {
	font-weight: $font-semibold;
	text-decoration: underline;

	&,
	&:active,
	&:focus,
	&:hover,
	&:visited {
		color: black;
	}
}

.link {
	text-decoration: underline;
	margin: 0 5px;
}

%btn--discover {
	padding: 0;
	white-space: nowrap;

	&,
	&:active,
	&:focus,
	&:hover,
	&:visited {
		color: $foreground;
	}

	&>span {
		display: inline-block;
		position: relative;
		font-size: 16px;
		font-weight: $font-semibold;

		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -6px;
			width: 100%;
			height: 4px;
			background: $foreground;
			// transform: scale(0, 1);
			transform-origin: left center;
			transition: transform ease-out 350ms;
		}
	}

	&:hover {
		&>span:after {
			transform: scale(0, 1);
			background: $foreground;
		}
	}

	.section--negative & {
		color: $foreground-negative;

		&,
		&:active,
		&:focus,
		&:hover,
		&:visited {
			color: $foreground-negative;
		}

		&>span:after {
			background: $foreground-negative;
		}

		&:hover {
			&>span:after {
				background: $foreground-negative;
			}
		}
	}

	@include media-down(sm) {
		white-space: normal;

		&>span {
			font-size: 14px;
		}
	}
}

.btn--discover {
	@extend %btn--discover;
}

.btn--link {
	display: inline-flex;
	align-items: center;
	font-size: 16px;
	font-weight: $font-semibold;

	span {
		display: inline-block;
		transition: all ease-in-out 350ms;
	}

	.icon--arrow-left,
	.icon--arrow-right {
		width: 8px;
		height: 13px;
	}

	.icon--arrow-left {
		margin-right: 17px;
	}

	.icon--arrow-right {
		margin-left: 17px;
	}

	&,
	&:active,
	&:focus,
	&:hover,
	&:visited {
		color: $foreground;
	}

	&:hover {
		span {
			transform: translateX(10px);
		}
	}
}

.btn--submit {
	display: inline-flex;
	align-items: center;
	padding: 25px;
	font-size: 16px;
	font-weight: $font-bold;
	background: #232120;
	opacity: 1;

	span {
		display: inline-block;
		transition: all ease-in-out 350ms;
	}

	.icon--arrow-left,
	.icon--arrow-right {
		width: 8px;
		height: 13px;
	}

	.icon--arrow-left {
		margin-right: 17px;
	}

	.icon--arrow-right {
		margin-left: 17px;
	}

	&,
	&:active,
	&:focus,
	&:hover,
	&:visited {
		color: white;
	}

	&:hover {
		span {
			transform: translateY(5px);
		}
	}

	&.success {
		opacity: 0;
		visibility: hidden;
	}
}

.btn--back {
	display: inline-flex;
	align-items: center;
	font-size: 16px;
	font-weight: 500;

	span {
		display: inline-block;
		opacity: 0.5;
		transition: all ease-in-out 350ms;
	}

	.icon--arrow-left,
	.icon--arrow-right {
		width: 8px;
		height: 13px;
		opacity: 0.5;
	}

	.icon--arrow-left {
		margin-right: 10px;
	}

	.icon--arrow-right {
		margin-left: 10px;
	}

	&,
	&:active,
	&:focus,
	&:hover,
	&:visited {
		color: $foreground;
	}

	&:hover {
		span {
			transform: translateX(10px);
		}
	}
}

.btn--download {
	font-size: 0;

	.icon--download,
	.icon--issuu {
		width: 35px;
		height: 35px;
		transition: transform 350ms ease-out;
	}

	&,
	&:active,
	&:focus,
	&:hover,
	&:visited {}

	&:hover {
		svg {
			transform: scale(1.1);
		}
	}
}

.btn--nav {
	white-space: nowrap;

	&,
	&:active,
	&:focus,
	&:hover,
	&:visited {
		color: $foreground;
	}

	&>span {
		display: inline-block;
		position: relative;
		font-size: 14px;
		font-weight: $font-extralight;

		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -1px;
			width: 100%;
			height: 1px;
			background: $foreground;
			transform: scale(0, 1);
			transform-origin: left center;
			transition: transform ease-out 350ms;
		}
	}

	&:hover {
		&>span:after {
			transform: scale(1, 1);
			background: $foreground;
		}
	}

	.section--negative & {
		color: $foreground-negative;

		&,
		&:active,
		&:focus,
		&:hover,
		&:visited {
			color: $foreground-negative;
		}

		&>span:after {
			background: $foreground-negative;
		}

		&:hover {
			&>span:after {
				background: $foreground-negative;
			}
		}
	}
}

.btn--gallery {
	position: relative;

	.picture {
		&:before {
			content: '+';
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 35px;
			height: 35px;
			z-index: 1;
			font-size: 20px;
			background: $foreground;
			color: $foreground-negative;
		}
	}

	&,
	&:active,
	&:focus,
	&:hover,
	&:visited {}

	&:hover {}
}

@mixin center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin ball {
	@include center;
	content: '';
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #fff;
	z-index: 2;
	margin-top: 4px;
	animation: ball .45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
	/*
	background: $primary;
	.section--negative & {
		background: $foreground-negative;
	}
	*/
}

.btn--busy {
	position: relative;
	user-select: none;
	pointer-events: none;
	transition: none;

	&,
	&:hover,
	&:focus,
	&:active,
	&.active {
		color: rgba(0, 0, 0, 0) !important;
	}

	&:before {
		@include ball;
		animation-delay: .15s;
	}

	&>svg {
		display: none;
	}

	&>span {
		&::before {
			@include ball;
			margin-left: -10px;
		}

		&::after {
			@include ball;
			margin-left: 10px;
			animation-delay: .3s;
		}
	}

}

.btn--play {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 196px;
	height: 196px;
	transform: translateX(-50%) translateY(-50%);
	pointer-events: none;
	transition: opacity ease-in-out 350ms 200ms;

	.icon--play-progress,
	.icon--play-progress-background {
		display: block;
		position: absolute;
		width: 196px;
		height: 196px;
		top: 0;
		left: 0;
		fill: transparent;
		stroke: $foreground-negative;
		transition: opacity ease-in-out 350ms;
	}

	.icon--play {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		fill: $foreground-negative;
		width: 30px;
		height: 30px;
		margin-left: -13px;
		margin-top: -14px;
	}

	&.playing {
		opacity: 0;

		.icon--play-progress {
			opacity: 1;
		}
	}

	.icon--play-progress-background {
		opacity: 0.2;
	}

	@include media-down(md) {
		width: 150px;
		height: 150px;

		.icon--play-progress,
		.icon--play-progress-background {
			width: 150px;
			height: 150px;
		}
	}

	@include media-down(sm) {
		width: 100px;
		height: 100px;

		.icon--play-progress,
		.icon--play-progress-background {
			width: 100px;
			height: 100px;
		}

		.icon--play {
			width: 20px;
			height: 20px;
			margin-left: -9px;
			margin-top: -9px;
		}

		.icon--play-progress-background {
			opacity: 0.5;
		}

	}

}

/*--------------------
Keyframe
--------------------*/
@keyframes ball {
	from {
		transform: translateY(0) scaleY(.8);
	}

	to {
		transform: translateY(-10px);
	}
}
