.card__body {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	.date {
		font-size: 16px;
		font-weight: 300;
	}

	.title {
		font-size: 36px;
		line-height: 1.2;
		font-weight: $font-semibold;
		text-align: left;
		margin-bottom: 15px;
	}

	.abstract {
		font-size: 16px;
		line-height: 1.4;
		font-weight: $font-extralight;
	}

	.group--cta {
		margin: 30px 0 0 0;
	}
}
