input,
select,
textarea {
	font-family: $font-primary;
	outline: none !important;
	cursor: pointer;
}

button {
	outline: none !important;
	background: transparent;
	border: none;
}

.group--control {
	display: flex;
	align-items: center;

	&>.control {
		flex: 1 1 auto;
	}

	&>.btn {
		flex: 1 1 auto;
	}

}

.control--select {
	.input {
		position: relative;
		display: flex;
		align-items: center;

		.icon--search {
			width: 18px;
			height: 20px;
			line-height: 1;
		}

		.icon--remove {
			width: 8px;
			height: 8px;
			margin-right: 7px;
		}

		.value {
			outline: none !important;
			line-height: inherit;
			font-weight: $font-extralight;
			color: $foreground;
		}

		.icon--caret-down {
			position: absolute;
			width: 24px;
			height: 15px;
			right: 15px;
			top: 50%;
			margin-top: -5px;
			fill: $primary;
		}

		&[disabled] {
			pointer-events: none;
		}
	}

	&.selected {
		.input {
			.value {

				&,
				&::placeholder {
					font-weight: $font-extralight;
					color: $foreground;
				}
			}
		}
	}

	@include media-down(md) {
		.input {
			.icon--caret-down {
				width: 15px;
			}
		}
	}
}

/////////////////////////////////////////

$white: #fff !default;
$black: #000 !default;
$red: #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green: #5cb85c !default;
$blue: #0000ff !default;
$teal: #5bc0de !default;
$pink: #ff5b77 !default;
$purple: #613d7c !default;
$idle: #999;
$placeholder: #ccc;
$warning: $primary;
$success: $blue;

%group--form {
	position: relative;
	margin-bottom: 40px;
}

.group--form,
.group--text,
.group--password,
.group--select,
.group--textarea {
	@extend %group--form;
}

.group--text,
.group--password,
.group--select,
.group--textarea {
	background: #DEDEDE;
	padding: 15px 20px;

	&.focus {
		background: #ffffff;
	}
}

.form__label {
	display: block;
	position: relative;
	margin-bottom: 0;
	font-size: 10px;
	font-weight: $font-bold;
	letter-spacing: 1px;
	// text-transform: uppercase;
	color: $foreground;

	span {
		display: inline-block;
	}

	sup {
		display: inline-block;
		width: 7px;
		height: 7px;
		border: 1px solid black;
		transform: translateY(-2px) rotateZ(45deg);
		margin-left: 5px;
		font-size: 0;
		line-height: 0;
	}

	/*
	.empty>& {
		span {
			transform: translateY(28px);
		}
	}

	.focus>& {
		span {
			transform: translateY(10px);
		}

		&:after {
			transform: translateX(0);
		}
	}

	.success>& {
		&:before {
			background: $success;
		}

		&:after {
			background: $success;
		}
	}

	.error>& {
		&:before {
			background: $warning;
		}

		&:after {
			background: $warning;
		}
	}
	*/
}

.form__control {
	display: block;
	width: 100%;
	height: 35px;
	line-height: 35px;
	margin: 0;
	padding: 0;
	border-radius: 0;
	border: none;
	// border-bottom: 1px solid $foreground;
	appearance: none;
	font-size: 16px;
	font-weight: $font-extralight;
	background: #DEDEDE;
	color: $foreground-secondary;

	&::placeholder {
		color: $foreground-secondary;
	}

	&.empty {}

	&.focus {}

	&.success {}

	&.error {}

	.focus & {
		background: #ffffff;
	}

	&:-webkit-autofill {
		-webkit-animation-name: autofill;
		-webkit-animation-fill-mode: both;
	}
}

@-webkit-keyframes autofill {
	to {
		color: inherit;
		background: inherit
	}
}

.group--select {
	svg {
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -5px;
		width: 10px;
		height: 10px;
		pointer-events: none;
		fill: $foreground;
	}
}

.group--custom-select {
	.dropdown {
		top: 100%;
		z-index: 100000;

		.nav--select {
			padding: 0;

			.option {
				padding: 7px 20px;
				border-bottom: 1px solid #eee;
			}
		}
	}
}

.group--textarea {
	.form__control {
		height: auto;
		resize: vertical;
		// border: 1px solid $foreground;
	}
}

.group--input {
	position: relative;
	display: flex;
	align-items: center;

	&>*+* {
		margin-left: 10px;
	}

	ng-transclude {
		flex: 1 1 100%;
		margin-left: 30px;
	}
}

.group--checkbox {
	position: relative;
	margin-bottom: 10px;

	.form__label {
		cursor: pointer;
	}

	.group--input {
		align-items: flex-start;
		flex-wrap: wrap;
		line-height: 20px;
		font-size: 14px;
	}

	.form__checkbox {
		position: relative;
		background: #C9C0B6;
		appearance: none;
		width: 16px;
		height: 16px;
		display: inline-block;
		vertical-align: middle;
		line-height: 1;
		font-size: 16px;
		margin: 0 8px 0 0;

		&:checked:after {
			content: 'x';
			position: absolute;
			color: #232120;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			font-weight: 100;
			line-height: 1;
		}

		&.ng-invalid:not(.ng-pristine) {
			background: #b92441;
		}
	}

	&.error {
		sup {
			color: $primary;
		}
	}
}

.group--select {
	@extend %group--form;
}

control-messages {
	display: none;
	position: absolute;
	width: 100%;
	padding: 0;
	bottom: 3px;
	font-size: 10px;
	font-weight: $font-bold;
	text-transform: uppercase;
	// background: $background-tertiary;
	color: $primary;

	.error>& {
		display: block;
	}

	&>span {}
}

/*
.btn {
	cursor: pointer;
	-webkit-appearance: none;
	outline: none;
	box-shadow: none;

	&:focus {
		-webkit-appearance: none;
		outline: none;
		box-shadow: none;
	}

	&.busy {
		position: relative;
		z-index: 10;
		background: $blue;
		border-color: $blue;
	}

	&.error {
		background: $red;
		border-color: $red;
	}

	&.success {
		background: $green;
		border-color: $green;
	}
}

.input-group-addon {
	position: relative;
	cursor: pointer;
	background: transparent;

	[class^='icon-'] {
		font-size: 15px;
		line-height: 20px;
		color: $blue;
	}
}
*/
