.section--gallery {

	.title {
		font-size: 42px;
		line-height: 50px;
		margin-bottom: 70px;
		color: $foreground;
	}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-down(xs) {}
}

.gallery__item {
	display: block;
	width: 100%;

	.abstract {
		max-width: 280px;
		margin-top: 30px;
		font-size: 13px;
		line-height: 1.4;
		font-weight: $font-extralight;
		color: #282525;
	}
}

.gallery__item--video {

	.abstract {
		max-width: unset;
	}

}

[muuri] {
	position: relative;

	.listing__item {
		position: absolute;
		top: 10000px;
		height: auto;
		z-index: 1;

		&.muuri-item-dragging {
			z-index: 3;
		}

		&.muuri-item-releasing {
			z-index: 2;
		}

		&.muuri-item-hidden {
			z-index: 0;
		}

	}

	.listing__content {}

	@include media-breakpoint-up(sm) {
		margin: -35px;

		.listing__item {
			padding: 35px;
			// margin-right: percentage(1 / 12);
			// margin-bottom: 70px; // 140px;
		}
	}

	@include media-breakpoint-up(md) {
		margin: -35px;

		.listing__item {
			padding: 35px;
			// margin-right: percentage(1 / 12);
			// margin-bottom: 70px; // 140px;
		}
	}

	@include media-breakpoint-down(xs) {
		margin: -35px;

		.listing__item {
			padding: 35px;
			// margin-left: 0;
			// margin-bottom: 70px;
		}
	}
}
