@import './../mixins';

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

.container {
	@include make-container();
	@include make-container-max-widths();
}

.container-fluid {
	@include make-container();
}

.row {
	@include make-row();
	min-width: 100%;
}

.container {
	position: relative;
	/*
	@include media-down(xs) {
		padding-left: 30px;
		padding-right: 30px;
	}
	*/
}

.container--gutter {
	margin-left: auto;
	margin-right: auto;

	.row {
		@include make-row($muuri-gutter-widths, $grid-breakpoints);
		position: relative;
	}

	@include make-grid-columns($muuri-columns, $muuri-gutter-widths, $grid-breakpoints);
	@include make-container-max-widths();
}

@include make-grid-columns();

@include make-orders();
