.group--cta {
	margin: 20px 0 0 0;
	text-align: left;
	font-size: 16px;
	color: black;

	@include media-up(sm) {

		.btn,
		[class^='btn--'],
		[class*=' btn--'] {
			&:not(:last-child) {
				margin-right: 15px;
				margin-bottom: 15px;
			}
		}
	}

	@include media-down(xs) {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;

		&>.btn,
		&>[class^='btn--'],
		&>[class*=' btn--'] {

			&+.btn,
			&+[class^='btn--'],
			&+[class*=' btn--'] {
				margin-top: 15px;
			}
		}
	}
}

.group--tile {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 20px 0 50px 0;

	&>div {
		flex: 1 0 auto;
		text-align: center;
	}
}
