@import '../mixins';

%section--hero {
	position: relative;

	.container {
		padding-top: 270px;
		padding-bottom: 140px;
	}

	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.title {
		position: relative;
		font-size: 56px;
		font-weight: inherit;
		line-height: 1.2;
		color: #232120;
	}

	.abstract {
		margin-top: 35px;
		margin-bottom: 35px;
		font-size: 16px;
		font-weight: $font-extralight;
		line-height: 1.3;
	}

	.title,
	.abstract,
	.group--back,
	.group--cta,
	.picture:not(.picture--cover) {
		opacity: 0;
		@include transition();
	}

	.ready & {

		.title,
		.abstract,
		.group--back,
		.group--cta,
		.picture:not(.picture--cover) {
			opacity: 1;
		}
	}

	@include media-up(sm) {
		.background {
			padding-top: 100%;
		}
	}

	@include media-up(lg) {
		.background {
			padding-top: 56.25%;
		}
	}

	@include media-down(xs) {

		.background {
			padding-top: 0;
			height: 132vw;
		}

		.container {
			padding-top: 140px;
			padding-bottom: 70px;
		}

		.group--back {
			display: none;
		}

		.title {
			font-size: 36px;
		}

		.group--cta {
			margin: 30px 0;
		}
	}

}
