.listing--tiles {

	&>.listing__item {
		display: block;
		padding-bottom: 90px;
		text-align: center;
		cursor: pointer;

		.picture {
			@include aspect-clip(1, 1);
			margin-bottom: 25px;
			transition: all ease-in-out 400ms;
		}

		&:not(:hover) {
			.picture {
				box-shadow: none;
			}
		}

		.title {
			line-height: 1;
			text-transform: uppercase;
		}

		.group--cta {
			margin: 0;
		}

		@include media-breakpoint-up(sm) {

			.title {
				font-size: 20px;
				margin-bottom: 2px;
			}

		}

		@include media-breakpoint-down(xs) {
			.title {
				font-size: 18px;
				margin-bottom: 0;
			}

			.group--cta {
				display: block;
				line-height: 1;
			}

		}
	}

	@include media-breakpoint-down(xs) {
		display: block;
		margin-right: -30px;
		margin-left: -30px;
		min-width: 100%;
		padding: 0 15px;
		white-space: nowrap;
		overflow-y: hidden;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;

		&>.listing__item {
			display: inline-block;
		}
	}
}

.listing--decor-tiles {
	&>.listing__item {
		display: block;
		padding-bottom: 90px;
		text-align: center;
		cursor: pointer;

		.picture {
			margin-bottom: 25px;
			background: $foreground-negative;
			box-shadow: none;
			transition: all ease-in-out 400ms;
		}

		&:hover {
			.picture {
				transform: scale(1.05, 1.05);
			}
		}

		.btn--category {
			margin-bottom: 10px;
		}

		.abstract {
			font-size: 14px;
			line-height: 1.7;
		}

		.group--cta {
			margin: 0;
		}
	}
}

.listing--trim-tiles {
	&>.listing__item {
		display: block;
		text-align: center;
		cursor: pointer;

		.picture {
			margin-bottom: 25px;
			background: $background;
			box-shadow: none;
			transition: all ease-in-out 400ms;
		}

		&:hover {
			.picture {
				transform: scale(1.05, 1.05);
			}
		}

		/*
		&:not(:hover) {
			.picture {
				box-shadow: none;
			}
		}
		*/

		.title {
			font-size: 14px;
			font-weight: $font-regular;
			line-height: 1.7;
			margin-bottom: 2px;
		}

		.abstract {
			font-size: 14px;
			line-height: 1.7;
		}

		.group--cta {
			margin: 0;
		}

		@include media-breakpoint-up(sm) {
			padding-bottom: 90px;

			.picture {
				@include aspect-bottom(3, 2);
			}
		}

		@include media-breakpoint-down(xs) {
			padding-bottom: 20px;
		}
	}
}

.listing--beinspired {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 60px);
	text-align: left;

	&>.listing__item {
		margin-right: 60px;
		margin-bottom: 60px;
	}

	@include media-breakpoint-down(sm) {
		&>.listing__item {
			flex: 1 1 calc(100% / 2 - 60px);
		}
	}

	@include media-breakpoint-up(md) {
		&>.listing__item {
			flex: 1 1 calc(100% / 3 - 60px);
		}
	}
}

.listing--sizes {
	text-align: left;

	&>.listing__item {
		margin-right: 30px;
		margin-bottom: 55px;
		cursor: pointer;

		&>.picture {
			@include as-aspect-clip();
			margin-bottom: 20px;
			background: $background;
			border: 1px solid #898c8e;
			transition: all ease-in-out 400ms;

			&>img {
				width: 100%;
				object-fit: cover;
			}
		}

		&:not(:hover) {
			.picture {
				box-shadow: none;
			}
		}

		.group--size {
			font-size: 14px;
			line-height: 24px;
		}
	}

	$widths: 278 120 240 75 150 30 60 90;
	$heights: 120 120 120 75 75 60 60 45;

	@each $w in $widths {
		$i: index($widths, $w);
		$h: nth($heights, $i);

		.aspect--#{$w}x#{$h} {

			@include media-breakpoint-up(sm) {
				width: 0.26% * $w;
				flex: 0 0 0.26% * $w;

				&>.picture {
					@include as-aspect-clip-size($w, $h);
				}
			}

			@include media-breakpoint-down(xs) {
				&>.picture {
					@include as-aspect-clip-size($w, $h * (0.36 * $w / 100));
					width: 0.36% * $w;
				}
			}
		}
	}

	@include media-breakpoint-up(sm) {

		display: flex;
		flex-wrap: wrap;

		.aspect--150x75 {
			margin-right: 30%;
		}

		.aspect--90x45 {
			&>.picture {
				margin-top: 16.5%;
			}
		}

		&>.listing__item {
			&>.picture {
				width: 100%;
			}
		}
	}

	@include media-breakpoint-down(xs) {
		display: block;

		&>.listing__item {
			display: block;
			width: 100%;
		}

	}
}
