.loader {
	margin: auto;
	text-align: center;
	font-size: 15px;
	font-weight: $font-semibold;
	text-transform: lowercase;
	color: #c9c1bf;

	svg {
		width: 100px;
		height: 100px;
		margin: 0 auto;

		circle:first-child {
			stroke: rgba(#c9c1bf, 0.5);
		}

		circle:last-child {
			stroke: #c9c1bf;
		}
	}

}
