[media],
[video] {

	.overlay {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.15);
		opacity: 0;
		transition: all 700ms 0ms cubic-bezier(0.320, 0.000, 0.290, 0.990) !important;
	}

	.btn--pinterest {
		display: block;
		position: absolute;
		left: 20px;
		bottom: 20px;
		opacity: 0;

		.icon--pinterest {
			width: 24px;
			height: 24px;
			fill: $foreground-negative;
		}

		&.active {
			opacity: 1;

			.icon--wishlist {
				fill: $primary;
			}
		}

	}

	.btn--wishlist {
		display: block;
		position: absolute;
		right: 20px;
		bottom: 20px;
		opacity: 0;

		.icon--wishlist {
			width: 25px;
			height: 20px;
			fill: $foreground-negative;
		}

		&.active {
			opacity: 1;

			.icon--wishlist {
				fill: $primary;
			}
		}

		&.activated {
			animation: activated 350ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
		}

		&.deactivated {
			animation: deactivated 350ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
		}

	}

	@keyframes activated {
		0% {
			opacity: 0;
			transform: scale(2.0);
		}

		100% {
			opacity: 1;
			transform: scale(1.0);
		}
	}

	@keyframes deactivated {
		0% {
			opacity: 1;
			transform: scale(1.0);
		}

		100% {
			opacity: 0;
			transform: scale(1.5);
		}
	}

	/*
	.group--gallery & {
		.btn--pinterest {
			left: 0;
			bottom: -55px;
			opacity: 1;

			.icon--pinterest {
				fill: $primary;
			}
		}

		.btn--wishlist {
			right: 0;
			bottom: -55px;
			opacity: 1;

			.icon--wishlist {
				fill: $primary;
			}
		}
	}
	*/

	ng-transclude {
		display: block;
		position: relative;
		transition: all 700ms 0ms cubic-bezier(0.320, 0.000, 0.290, 0.990) !important;
	}

	&:hover {
		ng-transclude {
			transform: scale(1.1, 1.1);
		}

		.overlay {
			opacity: 1;
		}

		.btn--pinterest {
			opacity: 1;
		}

		.btn--wishlist {
			opacity: 1;
		}

		.category {
			transform: translateY(100%);
		}
	}

	.section--negative & {
		.btn--pinterest {
			.icon--pinterest {
				fill: $foreground-negative;
			}
		}

		.btn--wishlist {
			.icon--wishlist {
				fill: $foreground-negative;
			}
		}
	}

}

[video] {
	cursor: pointer;
}

@include media-breakpoint-up(sm) {
	[video]:hover {
		.btn--play.playing {
			opacity: 1;
		}
	}
}

canvas {
	top: 0;
	cursor: pointer;
}

/*
[lazy] {
	object-fit: none;

	&.lazyed {
		object-fit: cover;
	}
}
*/

[lazy] {
	/*
	background: $background-tertiary;
	.background & {
		background: $background-negative;
	}
	*/
	visibility: hidden;
	opacity: 0;
	transition: opacity ease-in-out 350ms;

	&.lazyed {
		visibility: visible;
		opacity: 1;
	}
}
