@import "../mixins";

.nav {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav--product {
	width: 100%;
	background: $background-tertiary;

	&>li {
		flex: 1 1 auto;

		&>a,
		&>span {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 80px;
			z-index: 1;
			font-size: 15px;
			font-weight: $font-semibold;
			text-transform: uppercase;
			background: $background-tertiary;
			color: $nav-product;
			transition: ease-in-out 350ms;
			transition-property: background-color, color, border, opacity;
			text-decoration: none;

			&:hover,
			&.active {
				background: $primary-active;
				color: $nav-product-active;
			}
		}
	}

	@include media-up(sm) {
		display: flex;
		justify-content: flex-start;
	}

	@include media-down(md) {
		/*
		flex-wrap: wrap;
		// margin: 0 auto;
		// max-width: calc(100vw - 120px);

		&>li {
			flex: 0 0 20%;

			&>a,
			&>span {
				min-height: 50px;
			}
		}
		*/

		&>li {

			&>a,
			&>span {
				font-size: 12px;
				min-height: 50px;
			}
		}
	}

	@include media-down(xs) {
		display: block;

		&>li {

			&>a,
			&>span {
				font-weight: $font-bold;
				text-transform: uppercase;
				color: $primary;
			}
		}
	}
}

.menu {
	display: flex;
	flex: 1 0 100%;

	/*
	&>.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	*/
}

.menu--product {
	background: $background-tertiary;

	@include media-down(xs) {
		display: flex;
		align-items: center;
		flex: 0 0 calc(100% - 60px);
	}
}

body.droppin-in {
	overflow: hidden;
}
