.swiper-container {
	width: 100%;
	overflow: visible;
	cursor: pointer;
	// visibility: hidden;

	&.ready {
		// visibility: visible;
	}
}

.swiper-wrapper {
	padding-bottom: 0;
	align-items: flex-end;
}

.swiper-slide {
	flex-grow: 1;
}

.swiper-container-horizontal {
	&>.swiper-pagination-bullets {

		.swiper-pagination-bullet {
			transition: all ease-in-out 350ms;
		}
	}

	&>.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 5px;
	}

	& .swiper-pagination-bullet {
		cursor: pointer;
	}

}

.swiper-pagination-bullets {

	&,
	.swiper-container-horizontal>& {
		position: relative;
		bottom: 0;
		padding: 0;
		height: 60px;
		background: white;
	}
}

.swiper-pagination-bullets {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: transparent;

	.swiper-pagination-bullet {
		width: auto;
		height: 30px;
		border-radius: 0;
		position: relative;
		transform: none;
		outline: none;
		background: transparent;
	}

	.swiper-pagination-bullet-active,
	.swiper-pagination-bullet-active-main {
		transform: none;
	}

}

.swiper-pagination-bullet {
	display: inline-flex;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 0;
	opacity: 1;
	background: transparent;

	&:before {
		content: '';
		display: block;
		width: 8px;
		height: 8px;
		border-radius: 8px;
		border: 2px solid $foreground;
		background: rgba(255, 255, 255, .5);
		transition: all 300ms ease-in-out;
	}

	&:hover {
		&:before {
			border-color: $foreground;
			background: $foreground;
		}
	}
}

.swiper-pagination-bullet-active {
	opacity: 1;

	&:before {
		border-color: $foreground;
		background: $foreground;
	}
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
	left: 10px;
	right: auto;

	&.swiper-button-white {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
	}

	&.swiper-button-black {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%234e5256'%2F%3E%3C%2Fsvg%3E");
	}
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
	right: 10px;
	left: auto;

	&.swiper-button-white {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
	}

	&.swiper-button-black {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%234e5256'%2F%3E%3C%2Fsvg%3E");
	}
}

.swiper-pagination {

	@include media-up(md) {
		max-width: 87.5%;
		position: absolute;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		height: 140px;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
	}

	@include media-up(xl) {
		max-width: 1680px;
	}

	@include media-down(sm) {
		padding-bottom: 35px;
	}
}

.swiper-pagination-bullets .swiper-pagination-bullet {
	margin-right: 10px;
}
