.section--hero-designer {
	@extend %section--hero;

	.background {
		height: 100%;

		&:before {
			background: #958983;
		}
	}

	.group--back {
		margin-bottom: 50%;
	}

	.title {
		position: relative;
	}

	.abstract {
		font-size: 16px;
		font-weight: $font-extralight;
		margin-top: 35px;
	}

	@include media-up(sm) {
		.background {
			padding-top: 0;
		}
	}

	@include media-up(lg) {
		.background {
			padding-top: 0;
		}
	}

	@include media-down(sm) {
		.group--back {
			margin-bottom: 35px;
		}
	}

	@include media-down(xs) {
		.container {
			padding: 130px 0 70px 0;
		}

		.background {
			padding-top: 0;
		}

		.group--back {
			margin-bottom: 60px;
		}

		.title {
			margin-bottom: 35px;
		}

	}

}
