footer {

	.inner {
		width: 100%;
		max-width: 1920px;
		margin: 0 auto;
	}

}

.section--social {
	.row {
		height: 170px;
		align-items: stretch;
	}

	.socialize {
		position: relative;
		display: flex;
		align-items: center;
		font-family: $font-secondary;
		font-size: 24px;
		font-weight: 300;
		background: white;

		&:before {
			content: '';
			position: absolute;
			display: block;
			width: 10.72%;
			height: 100%;
			top: 0;
			left: -10.72%;
			background: white;
		}
	}

	.socialize--icons {
		position: relative;
		background: #e7e7e7;

		&:after {
			content: '';
			position: absolute;
			display: block;
			width: 10.72%;
			height: 100%;
			top: 0;
			right: -10.72%;
			background: #e7e7e7;
		}
	}

	@include media-breakpoint-down(sm) {
		background: #e7e7e7;
	}
}

.nav--social {
	justify-content: space-between;
	align-items: center;
	padding: 0 percentage(1 / 8);
	height: 100%;

	&>li>a {
		display: block;

		svg {
			fill: #D3D4D3;
			transition: fill ease-out 350ms;
		}

		&:hover {
			svg {
				fill: #232120;
			}
		}
	}

	.icon--facebook {
		width: 18px;
		height: 35px;
	}

	.icon--twitter {
		width: 35px;
		height: 29px;
	}

	.icon--instagram {
		width: 31px;
		height: 31px;
	}

	.icon--youtube {
		width: 38px;
		height: 27px;
	}

	.icon--linkedin {
		width: 31px;
		height: 31px;
	}

	@include media-breakpoint-down(sm) {
		padding: 0;
	}
}

.section--footer {
	background: #d6d6d6;
	padding: 70px 0;

	.row:first-child {
		margin-bottom: 140px;
	}

	.brand {
		display: block;
		position: relative;
		line-height: 0;
		font-size: 0;
		width: 100%;
		max-width: 160px;

		.aspect {
			@include aspect-clip(140, 56);
		}

		.icon--lea-ceramiche {
			width: 100%;
			height: 100%;
		}
	}

	.nav--footer {
		flex-direction: column;
		margin-bottom: 70px;

		&>li {

			&>a,
			&>span {
				font-size: 16px;
				font-weight: 700;
				color: $foreground;
			}

			&:hover {

				&>a,
				&>span {
					color: $foreground;
				}
			}
		}

		&>li+li {
			margin-top: 40px;
		}
	}

	.title {
		margin-bottom: 15px;
	}

	p {
		font-size: 16px;
		font-weight: 100;
		line-height: 1.4;
	}

	.btn--link {
		margin-top: 30px;
	}

	.row--colophon {
		font-size: 16px;
		font-weight: 100;
		line-height: 1;
		color: #878887;

		a {
			display: inline-block;
			margin-bottom: 15px;
		}

		.icon--websolute {
			width: 82px;
			height: 16px;
		}

	}

	@include media-breakpoint-down(sm) {
		text-align: center;

		.row:first-child {
			margin-bottom: 60px;
		}

		.brand {
			margin-bottom: 40px;
		}

		:not(.col-6) {
			&>.nav--footer {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;

				&>li+li {
					margin-top: 0;
				}
			}
		}

		.col-6 {
			padding-top: 40px;
			padding-bottom: 40px;
			margin-top: 40px;
			margin-bottom: 40px;
			border-top: 1px solid black;
			border-bottom: 1px solid black;
		}

		& .col-6+.col-6 {
			border-left: 1px solid black;
		}

		.row--colophon {
			& div+div {
				margin-top: 20px;
			}
		}

	}
}
