.section--generic-text {
	font-size: 16px;
	font-weight: $font-extralight;
	line-height: 1.4;

	.title {
		position: relative;
		text-align: center;
		margin-bottom: 35px;
		font-size: 56px;
		line-height: 1.2;
		color: #232120;
		font-weight: $font-light;
	}

	p {
		margin-bottom: 2em;
	}

	@include media-breakpoint-up(sm) {
		padding-top: 70px;
		padding-bottom: 140px;
	}

	@include media-breakpoint-down(xs) {
		padding-top: 70px;
		padding-bottom: 70px;
	}

}
