.wrapper--header {
	display: block;
	margin: 0 auto;

	@include media-up(md) {
		position: absolute;
		top: 0;
		left: 50%;
		width: 100%;
		transform: translateX(-50%);
		z-index: 100;
	}

}

.section--header {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;

	.inner {
		position: relative;
		width: 100%;
		height: 190px;
		margin: 0 auto;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: white;
			transform-origin: 50% 100%;
			transform: scale(1, 0);
			transition: all ease-in-out 350ms;
		}
	}

	&.opened {
		.inner {
			&:before {
				transform: scale(1, 1);
			}
		}
	}

	.container {
		position: static;

		/*
		&:before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 50px;
			width: 50%;
			height: 90px;
			opacity: 1;
			background: #908E91;
			box-shadow: 0 10px 10px -5px rgba(0,0,0,0.15);
		}
		*/
	}

	.brand {
		display: block;
		position: relative;
		z-index: 1;
		line-height: 0;
		font-size: 0;
		width: 100%;
		max-width: 160px;
		opacity: 0;

		.aspect {
			@include aspect-clip(140, 56);
		}

		.icon--lea-ceramiche {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.icon--wishlist {
		width: 16px;
		height: 14px;
	}

	.icon--angle-down {
		width: 12px;
		height: 7px;
	}

	.icon--search {
		width: 20px;
		height: 20px;
	}

	@include media-down(sm) {
		.inner {
			&:before {
				display: none;
			}
		}

		.brand {
			width: 22%;
			min-width: 68px;
			max-width: 110px;

			/*
			.icon--lea-ceramiche {
				width: 100%;
				height: auto;
			}
			*/
		}
	}

	@include media-down(xs) {
		// transition: background ease-in-out 350ms;

		.btn--menu {
			z-index: 100;
		}

	}

}

.section--header-fixed {

	/*
	transition: all ease-in-out 350ms;

	@include media-up(md) {
		position: fixed;
	}

	.scrolled & {
		top: -100%;
		// transform: translateY(-100%);
	}
	*/

	/*
	.scrolled & {

		.inner {
			height: 125px;
		}

		.menu {
			padding-top: 35px;
			padding-bottom: 35px;
		}

		.menu__tertiary {
			display: none;
		}

		.opened>.nav--submenu {
			top: 125px;

			.nav--submenu {
				top: 0;
			}
		}

		.nav--submenu {
			min-height: calc(100vh - 125px);
		}

	}
	*/

}

.section--header-background {

	.inner {
		height: 190px;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: white;
			opacity: 0;
			transition: opacity ease-in-out 350ms;
		}
	}

	&.scrolled {
		.inner {
			&:before {
				opacity: 1;
			}
		}
	}

}

.menu {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 14px;
}

.menu__brand {
	order: 2;

	@include media-down(sm) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
}

.menu__primary,
.menu__secondary,
.menu__tertiary {
	position: static;
}

.menu__primary {
	order: 3;

	@include media-up(sm) {
		display: flex;
		align-items: center;
	}

	@include media-down(sm) {
		position: fixed;
		display: block !important;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		visibility: hidden;
		pointer-events: none;
		padding: 0;
		z-index: 99;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #ffffff;
			transform-origin: left top;
			transform: scale(0, 1);
			transition: all ease-in-out 600ms;
		}

		.opened & {
			visibility: visible;
			pointer-events: all;

			&:before {
				transform: scale(1, 1);
			}
		}

	}

}

.menu__secondary {
	order: 4;

	@include media-up(sm) {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}

.menu__tertiary {
	order: 1;
	flex: 1 1 100%;
	width: 100%;
}

.nav--primary,
.nav--secondary,
.nav--tertiary {
	&>li {
		outline: none;
		line-height: 1;
		opacity: 0;

		&>a,
		&>span {
			display: inline-block;
			z-index: 1;
			outline: none;
			text-decoration: none;
		}
	}
}

.nav--secondary,
.nav--tertiary {
	transition: opacity ease-in-out 600ms;

	.scrolled & {
		opacity: 0;
		pointer-events: none;
	}
}

.nav--primary {

	&>li {
		// max-width: 33.33%;
		// flex: 0 1 33.33%;

		&>a,
		&>span {
			display: inline-block;
			position: relative;
			transition: ease-out 350ms;
			transition-property: background-color, color, border, opacity;
			cursor: pointer;

			font-size: 16px;
			font-weight: 500;
			color: $foreground;

			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: -10px;
				width: 100%;
				height: 4px;
				background: $foreground;
				transform: scale(0, 1);
				transform-origin: left center;
				transition: transform ease-out 350ms;
			}
		}

		&:hover {

			&>a,
			&>span {
				color: $foreground;

				&:after {
					transform: scale(1, 1);
				}
			}
		}

		&:active,
		&.active,
		&.opened {

			&>a,
			&>span {
				color: $foreground;
				opacity: 0.5;

				&:after {
					transform: scale(0, 1);
				}
			}
		}
	}

	svg {
		fill: $nav-header;
		transition: fill, stroke, opacity ease-in-out 350ms;
	}

	@include media-up(md) {
		display: flex;
		justify-content: space-between;
		width: 100%;

		&>li+li {
			// margin-left: 30px;
		}
	}

	@include media-down(md) {
		&>li {

			&>a,
			&>span {
				font-size: 16px;
			}
		}

		&>li+li {
			margin-left: 15px;
		}
	}

	@include media-down(sm) {
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		padding: 170px 6.25% 70px 6.25%;
		min-height: 100vh;
		z-index: 10;

		&>li {
			margin-bottom: 35px;

			&>a,
			&>span {
				font-size: 27px;
				font-weight: $font-bold;
			}
		}

		&>li+li {
			margin-left: 0;
		}
	}
}

.nav--secondary {

	@include media-up(sm) {
		display: flex;
		justify-content: flex-end;
	}

	@include media-down(xs) {
		display: block;
		justify-content: flex-start;
	}

	&>li {

		&>a,
		&>span {
			display: inline-block;
			position: relative;
			cursor: pointer;
			font-size: 15px;
			font-weight: 100;
			color: $foreground;
			margin-left: 57px;
		}

		&:hover,
		&:active,
		&.active {

			&>a,
			&>span {
				color: $foreground;
			}
		}

		&>.wishlist--badge {
			position: absolute;
			top: 11px;
			left: 10px;
			transform: translateX(-50%) translateY(-50%);
			width: 18px;
			height: 18px;
			border-radius: 50%;
			font-size: 10px;
			text-align: center;
			line-height: 18px;
			color: $foreground !important;
		}

	}

	svg {
		fill: $foreground;
	}

	/*
	@include media-up(sm) {
		&>li+li {
			margin-left: 30px;
		}
	}

	@include media-down(xs) {
		&>li {
			margin-bottom: 10px;

			&>a,
			&>span {
				font-size: 15px;
				font-weight: $font-bold;
				color: $nav-header-secondary;
			}
		}

		svg {
			fill: $nav-header-secondary;
		}

		&>li+li {
			margin-left: 0;
		}
	}
	*/

}

.nav--tertiary {

	.icon--search {
		width: 18px;
		height: 20px;
		margin-right: 10px;
	}

	.icon--wishlist {
		width: 20px;
		height: 20px;
		margin-right: 20px;
	}

	.icon--plus {
		width: 8px;
		height: 8px;
		margin-left: 4px;
	}

	&>li {

		&>a,
		&>span {
			position: relative;
			display: flex;
			align-items: center;
			min-height: 20px;
			cursor: pointer;
			font-size: 12px;
			font-weight: 100;
			color: $foreground;
		}

		&>span {
			font-weight: 600;
		}

		&:hover,
		&:active,
		&.active {

			&>a,
			&>span {
				color: $foreground;

			}
		}

		&>.wishlist--badge {
			position: absolute;
			top: 50%;
			right: -16px;
			width: 18px;
			height: 18px;
			border-radius: 50%;
			font-size: 10px;
			text-align: center;
			line-height: 18px;
			margin-top: -13px;
			background: $background;
			color: $foreground !important;
		}

	}

	svg {
		fill: $foreground;
		width: 8px;
		height: 8px;

	}

	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	min-height: 70px;
	margin-bottom: 0;
	padding-bottom: 5px;

	@include media-up(xs) {
		/*
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		min-height: 70px;
		margin-bottom: 0;
		padding-bottom: 10px;
		*/
	}

	@include media-down(xs) {
		/*
		display: block;
		justify-content: flex-start;
		*/

		min-height: 0;
		padding: 20px 0;

		&>li {
			&>a {
				span {
					display: none;
				}
			}

			&>span {
				font-size: 16px;
			}
		}

		.icon--search {
			width: 18px * 1.2;
			height: 20px * 1.2;
		}

		.icon--wishlist {
			width: 20px * 1.2;
			height: 20px * 1.2;
		}

		.icon--plus {
			width: 8px * 1.2;
			height: 8px * 1.2;
		}

	}

}

.nav--submenu {
	flex-direction: column;
	position: absolute;
	top: 190px;
	left: 0;
	width: 100%;
	min-height: calc(100vh - 190px);
	padding: 70px 6.25%;

	visibility: hidden;
	pointer-events: none;
	top: -10000px;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #F7F5F0;
		transform-origin: left top;
		transform: scale(0, 1);
		transition: all ease-in-out 600ms;
	}

	.opened>& {
		visibility: visible;
		pointer-events: all;
		top: 190px;

		&:before {
			transform: scale(1, 1);
		}
	}

	&>li {
		display: block;
		overflow: hidden;
		padding-bottom: 70px;

		&:not(.opened) {
			&>.nav--submenu {
				transition: none;

				&:before {
					transition: none;
				}
			}
		}

		&>a,
		&>span {
			display: inline-flex;
			align-items: center;
			position: relative;
			cursor: pointer;
			font-size: 34px;
			font-weight: 500;
			line-height: 1;
			text-decoration: none;
			// transition: all ease-in-out 350ms;

			svg {
				width: 0.6em;
				height: 0.6em;
				margin: 0.1em 0 0 0.35em;
			}
		}

		&>a {
			color: $foreground;

			svg {
				fill: $foreground;
			}
		}

		&>span {
			color: #8E928D;

			svg {
				fill: #8E928D;
			}
		}

		&:hover,
		&:active,
		&.active,
		&.opened {

			&>a,
			&>span {
				animation-name: submenuIn;
			}
		}

		&:hover,
		&:active,
		&.active,
		&.opened {
			&>a {
				color: $foreground;
			}
		}

		&:hover,
		&:active,
		&.active,
		&.opened {
			&>span {
				color: $foreground;
			}
		}
	}

	.nav--submenu {
		position: absolute;
		flex-direction: row;
		flex-wrap: wrap;
		top: 0;
		left: 28.125%;
		width: 71.875%;
		height: 100%;
		padding: 70px 10.1449% 70px 8.6956%;
		transform: none;

		&:before {
			background: #C9C0B6;
		}

		&>li {
			max-width: 50%;
			flex: 1 1 50%;

			&:last-child {
				margin-bottom: 100%;
			}
		}
	}

	@media (max-height:1024px) {
		&>li {
			padding-bottom: 50px;

			&>a,
			&>span {
				font-size: 28px;
			}
		}
	}

	@media (max-height:768px) {
		&>li {
			padding-bottom: 35px;

			&>a,
			&>span {
				font-size: 21px;
			}
		}
	}

	@include media-down(sm) {

		display: block;
		z-index: 10;

		.opened>& {
			top: 0;
			padding-top: 170px;
			min-height: 100vh;
		}

		.nav--submenu {
			display: block;
			left: 100%;
			width: 100%;

			.opened>& {
				transform: translateX(-100%);
				z-index: 100;
			}

			&>li {
				max-width: 100%;
				flex: 1 1 100%;
			}
		}

		&>li {
			padding-bottom: 35px;

			&>a,
			&>span {
				font-size: 27px;
			}
		}

	}

}

.nav--submenu-tertiary {
	position: absolute;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 190px;
	left: 0;
	width: 100%;
	min-height: calc(100vh - 190px);
	padding: 70px 6.25%;
	visibility: hidden;
	pointer-events: none;
	top: -10000px;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #D8D9D8;
		transform-origin: left top;
		transform: scale(0, 1);
		transition: all ease-in-out 600ms;
	}

	.opened>& {
		visibility: visible;
		pointer-events: all;
		top: 190px;

		&:before {
			transform: scale(1, 1);
		}
	}

	&>li {
		display: block;
		overflow: hidden;
		padding-bottom: 28px;

		&>a,
		&>span {
			display: inline-block;
			position: relative;
			cursor: pointer;
			font-size: 16px;
			font-weight: $font-extralight;
			line-height: 1;
			// transition: all ease-in-out 350ms;
		}

		&>a {
			color: $foreground;
		}

		&>span {
			color: #8E928D;
		}

		&.title {
			&>span {
				font-size: 36px;
				font-weight: $font-light;
				letter-spacing: 0.05em;
				color: $foreground;
				padding-bottom: 70px;
			}
		}

		&:hover,
		&:active,
		&.active,
		&.opened {

			&>a,
			&>span {
				animation-name: submenuIn;
			}
		}

		&:hover,
		&:active,
		&.active,
		&.opened {
			&>a {
				color: #878887;
			}
		}
	}

	@include media-down(sm) {
		display: block;
		z-index: 10;

		.opened>& {
			top: 0;
			padding-top: 170px;
			min-height: 100vh;
		}

		&>li {

			&>a,
			&>span {
				font-size: 16px;
			}
		}
	}

}

.btn--menu {

	.icon--menu {
		width: 37px;
		height: 23px;
	}

	path {
		transition: all ease-out 350ms;
	}

	&.active {
		path {
			opacity: 0;

			&:first-child {
				transform-origin: center center;
				transform: scale(0.8, 0.8) translateX(6px) translateY(6px) rotateZ(-45deg);
				opacity: 1;
			}

			&:last-child {
				transform-origin: center center;
				transform: scale(0.8, 0.8) translateX(6px) translateY(-6px) rotateZ(45deg);
				opacity: 1;
			}
		}
	}
}
