.section--hero-home {
	@extend %section--hero;

	.background {
		&:before {
			background: #908E91;
		}
	}

	.group--cta {
		margin: 60px 0 140px 0;
	}

	.title {
		position: relative;
	}
}

.section:not(:first-child) {
	opacity: 0;

	.ready & {
		opacity: 1;
	}
}

.section--projects {
	padding: 0 0 140px 0;

	.category {
		font-size: 37px;
		line-height: 1.2;
		margin-bottom: 30px;
	}

	.title {
		font-size: 56px;
		line-height: 1.2;
		font-weight: 500;
	}

	.abstract {
		font-size: 15px;
		line-height: 1.5;
		margin-top: 40px;
	}

	.group--cta {
		margin: 20px 0;
		font-size: 10px;
	}

}

.section--magazine {
	padding: 0 0 140px 0;
	background: #cbc4b9;
}

.group--designer {
	padding-top: 140px;

	.title {
		padding: 70px 0;
		text-align: center;
		font-family: Stanley, serif;
		font-size: 36px;
		line-height: 1.2;
		font-weight: 100;
		position: relative;

		span {
			position: relative;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: percentage(1 / 5);
			width: percentage(3 / 5);
			height: 100%;
			background: #878887;
		}
	}

	.inset {
		width: percentage(3 / 5);
		margin-left: percentage(1 / 5);
	}

	.picture {
		margin-bottom: 12px;
	}

	.abstract {
		font-size: 15px;
		line-height: 1.5;
	}

	.group--cta {
		margin: 10px 0 0 0;
	}
}

.group--article {
	.picture {
		transform-origin: top left;
		transform: scale(1.1428);
		margin-bottom: 14.2857%;
	}

	.title {
		font-size: 36px;
		padding-top: 25px;
		line-height: 1.2;
		margin-bottom: 25px;
	}

	.abstract {
		font-size: 15px;
		line-height: 1.5;
	}

	.group--cta {
		margin: 40px 0 0 0;
	}

}

.section--newsletter {
	padding: 80px 0;
	background: #f3f3f3;

	.row {
		align-items: stretch;
	}

	.col-md-5 {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.title {
		font-size: 54px;
		font-weight: 300;
		line-height: 1.2;
		margin-bottom: 40px;
	}
}

.control {
	position: relative;
	display: flex;
	margin-bottom: 15px;
	align-items: center;

	.control__input {
		appearance: none;
		border: none;
		box-shadow: none;

		width: percentage(3 / 5);

		padding: 30px 20px;

		font-size: 16px;
		font-weight: 300;
		line-height: 1;

		color: $foreground;
		background: #dedede;
	}

	.control__button {
		appearance: none;
		border: none;
		box-shadow: none;

		width: percentage(2 / 5);

		padding: 30px 20px;

		font-size: 16px;
		font-weight: 500;
		line-height: 1;

		color: $foreground;
		background: white;
	}

	@include media-breakpoint-down(sm) {
		flex-wrap: wrap;

		.control__input:not(.control__checkbox),
		.control__button {
			flex: 0 0 100%;
		}
	}
}

.control--checkbox {
	.control__input {
		width: 17px;
		height: 17px;
		padding: 0;
		margin-right: 10px;
		font-size: 0;
		color: $foreground;
		background: #C9C0B6;
	}

	.control__label {
		font-size: 11px;
		font-weight: 300;
		line-height: 1.2;
		color: $foreground;
	}
}

::placeholder {
	color: #878887;
}

.cover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #908e91;
	z-index: 1000;

	.inner {
		padding: 140px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.picture {
		// position: absolute;
		max-width: 100%;
		max-height: 100%;

		img {
			width: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
}

.title,
.abstract,
.description {
	position: relative;
	z-index: 1;
}
