.section--alternate {

	.container {
		padding-top: 70px;
		padding-bottom: 70px;
	}

	.row {
		margin-top: 35px;
		margin-bottom: 35px;
		align-items: center;
	}

	.title {
		font-size: 36px;
		line-height: 1.2;
		margin-bottom: 30px;
	}

	.abstract {
		font-size: 16px;
		line-height: 1.375;
	}

	@include media-down(sm) {
		.title {
			margin-top: 15px;
		}
	}

}
