.section--listing-projects {
	padding: 70px 0 140px 0;
	overflow: hidden;
	background: #E9E7E3;

	.container>.row>div>.title {
		font-size: 36px;
		line-height: 1.2;
		font-weight: 500;
		text-align: center;
		margin-bottom: 70px;
	}

	&.variant-02 {
		background: none;

		.container>.row>div>.title {
			font-size: 42px;
			font-weight: var(--font-light);
			margin-bottom: 35px;
			text-align: left;
		}
	}
}

.listing--projects {

	.inner {
		display: flex;
		align-items: stretch;

		.card {
			&:last-child {
				margin-right: 0;
			}
		}

		@include _selectNone();
	}

	@include media-up(md) {

		.inner {
			width: percentage(9 / 20);

			.card {
				margin-right: percentage(2 / 9);
			}

		}

	}

	@include media-up(lg) {

		.inner {
			width: percentage(6 / 20);

			.card {
				margin-right: percentage(1 / 6);
			}

		}

	}

	@include media-up(xl) {

		.inner {
			width: percentage(6 / 20);

			.card {
				margin-right: percentage(1 / 6);
			}

		}

	}

	@include media-down(sm) {

		.inner {
			width: 100%;

			.card {
				margin-right: percentage(1 / 3);
			}

		}

	}

}
