layout {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.section--hero-product {
	@extend %section--hero;

	.background {
		height: 200%;

		&:before {
			background: #E9E7E3;
		}
	}

	.title {
		text-align: center;
		position: relative;
		margin-bottom: 35px;
	}

	.abstract {
		text-align: center;
		font-size: 16px;
		line-height: 1.33;
		font-weight: 300;
		margin-bottom: 50px;
	}

	@include media-up(sm) {
		.container {
			padding: 270px 0 0 0;
		}

		.background {
			padding-top: 0;
		}
	}

	@include media-up(lg) {
		.background {
			padding-top: 0;
		}
	}

	@include media-down(xs) {
		.container {
			padding: 130px 0 0 0;
		}

		.background {
			padding-top: 0;
		}

		.group--back {
			margin-bottom: 60px;
		}
	}

}

.nav--features {
	display: flex;
	justify-content: space-between;
	margin: 0 0 100px 0;
	padding: 0;

	li {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}

	.icon {
		width: 70px;
		height: 70px;
		max-width: 100%;
		margin-bottom: 10px;
	}

	.number {
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 15px;
	}

	.label {
		font-size: 11px;
		font-weight: 300;
	}
}

.section--colors {

	.group--inline {
		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;

		&>div:not(.group--variant) {
			margin-right: 35px;
		}
	}

	@include media-up(sm) {
		padding-top: 70px;
		padding-bottom: 140px;
	}

	@include media-down(xs) {
		padding-top: 70px;
		padding-bottom: 70px;
	}

}

.group--colors {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;

	@include media-up(md) {
		.card--color {
			flex: 1 1 percentage(1 / 3);
			max-width: percentage(1 / 3);

			.card__detail {
				width: 300%;
			}
		}
	}

	@include media-down(sm) {
		margin-left: -26px;
		margin-right: -26px;

		.card--color {
			flex: 1 1 percentage(1 / 2);
			max-width: percentage(1 / 2);

			.card__detail {
				width: 200%;
				left: 0 !important;
			}
		}

	}

	@include media-down(xs) {

		.card--color {
			flex: 1 1 100%;
			max-width: 100%;

			.card__detail {
				width: 100%;
			}
		}

	}

}

.listing--colors {
	position: relative;

	&>.title {
		position: relative;
		text-align: center;
		margin-bottom: 35px;
		line-height: 1.2;
		color: #232120;
		font-weight: $font-light;
	}

	@include media-up(sm) {
		&>.title {
			font-size: 48px;
		}
	}

	@include media-down(xs) {

		&>.title {
			font-size: 42px;
		}
	}
}

.group--feature {
	margin-bottom: 100px;

	&:last-child {
		margin-bottom: 0;
	}

	&>.title {
		color: #232120;
		font-size: 24px;
		font-family: $font-secondary;
		margin-bottom: 15px;
	}

	&>.abstract {
		color: #232120;
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 10px;
	}
}

.group--variant {
	margin: 0 0 15px 0;

	&>.title {
		color: #232120;
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 10px;
	}
}

.thumb {
	&>.abstract {
		color: #232120;
		font-size: 15px;
		font-weight: 300;
	}
}

.group--certifications {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1120px;
	margin: 0 auto;

	.item {
		margin: 20px;
		min-width: 80px;

		img {
			max-height: 90px;
			max-width: 80px;
		}
	}

	@include media-down(sm) {
		justify-content: center;

		.item {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}


}

.section--downloads {

	.title {
		position: relative;
		text-align: center;
		margin-bottom: 35px;
		line-height: 1.2;
		color: #232120;
		font-weight: $font-light;
	}

	.col-sm-6 {
		display: flex;
		flex-direction: column;
	}

	.label {
		flex: 1 1 auto;
		font-size: 15px;
		line-height: 1.2;
		font-weight: $font-semibold;
	}

	.group--inline {
		display: flex;
		align-items: center;

		@include media-up(md) {
			margin-top: 20px;
		}

		@include media-down(sm) {
			margin: 10px 0 35px 0;
		}
	}

	.btn--download {
		margin-right: 15px;

		&:last-child {
			margin: 0;
		}
	}

	@include media-up(sm) {
		padding-top: 100px;
		padding-bottom: 100px;

		.title {
			font-size: 48px;
		}
	}

	@include media-down(xs) {
		padding-top: 70px;
		padding-bottom: 70px;

		.title {
			font-size: 42px;
			text-align: left;
		}
	}

}
