/*
.section--intro-centered {
	padding-top: 120px;
	text-align: center;

	.category {
		font-size: 14px;
		line-height: 32px;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.title {
		font-size: 42px;
		line-height: 50px;
		margin-bottom: 40px;
		color: $foreground;
	}

	.abstract {
		font-size: 18px;
		line-height: 32px;
		font-weight: $font-light;
		margin-bottom: 50px;

		p {
			margin-bottom: 10px;
		}
	}

}
*/

.section--picture-text,
.section--text-picture {
	padding-top: 120px;
	padding-bottom: 100px;

	.row {
		align-items: center;
	}

	.category {
		font-size: 14px;
		line-height: 32px;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.title {
		font-size: 32px;
		font-weight: $font-light;
		line-height: 50px;
		margin-bottom: 40px;
		color: $foreground;

		b {
			font-weight: $font-bold;
		}
	}

	.abstract {
		font-size: 18px;
		line-height: 32px;
		font-weight: $font-light;
		color: $foreground-secondary;

		p {
			margin-bottom: 10px;
		}
	}


	.title {
		font-size: 55px;
		line-height: 1.1;
		font-weight: $font-semibold;
		color: $foreground;
		margin-bottom: 35px;
	}

	.abstract {
		font-size: 38px;
		line-height: 1.1;
		font-weight: $font-regular;
		color: $foreground;
		margin-bottom: 40px;
	}

	.group--cta {
		margin: 40px 0 0 0;
		text-align: left;
	}

	.group--content {
		margin-top: 40px;
	}

	.group--content+.group--content {
		margin-top: 100px;
	}

	.picture--vertical {
		max-width: 100%;
	}

	&.text--primary {
		padding-top: 140px;
		padding-bottom: 140px;

		.title {
			font-size: 55px;
			line-height: 1.1;
			font-weight: $font-semibold;
			color: $foreground;
			margin-bottom: 35px;
		}

		.abstract {
			font-size: 38px;
			line-height: 1.1;
			font-weight: $font-regular;
			color: $foreground;
			margin-bottom: 40px;
		}

	}
}

.border--top {
	border-top: 2px solid $border;
}

.border--bottom {
	border-bottom: 2px solid $border;
}
