.section--stores {
	padding: 70px 0 140px 0;
}

.map {
	display: block;
	background: #D6D2CE;
	width: 100%;
	height: 700px;
}

.gm-style .gm-style-iw-c {
	background-color: white;
	border: 4px solid #414141;
	border-radius: 0;
	padding: 10px;
	box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
	font-family: $font-primary;
	font-size: 14px;
	line-height: 1.3;
	margin: 0;
	padding: 0;

	&>div {
		overflow: visible;
		max-width: 636px;
		max-height: 586px;
		padding: 15px;
		margin: 0;
	}
}

.gm-style .gm-style-iw-t::after {
	display: none;
}

.stores {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.card {
		margin-bottom: 70px;
	}

	@include media-up(md) {
		.card {
			flex: 1 1 percentage(9 / 20);
			max-width: percentage(9 / 20);
		}
	}

	@include media-up(lg) {
		.card {
			flex: 1 1 percentage(6 / 20);
			max-width: percentage(6 / 20);
			// margin-right: percentage(1 / 20);
		}
	}

	@include media-up(xl) {
		.card {
			flex: 1 1 percentage(6 / 20);
			max-width: percentage(6 / 20);
			// margin-right: percentage(1 / 20);
		}
	}

	@include media-down(sm) {
		.card {
			// margin-right: percentage(1 / 3);
		}
	}

}
