.section--submenu {
	height: 0;
	// height: auto;
	color: white;

	img {
		width: 100%;
	}

	@include media-breakpoint-up(sm) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		// max-height: 0;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		background: $background-subheader;

		// box-shadow: 0 30px 50px -10px rgba(0, 0, 0, 0.7);
		// transition: 700ms 0ms cubic-bezier(0.320, 0.000, 0.290, 0.990) !important;
		// transition-property: max-height;

		&>.container {
			margin-top: 200px;
			margin-bottom: 50px;
		}
	}

	@media screen and (max-height: 700px) {
		&>.container {
			margin-top: 130px;
		}
	}

	@include media-breakpoint-down(xs) {
		overflow: hidden;
		background: $background-header;

		&>.container {
			padding: 40px 0 0 0;

			&>.row {
				margin: 0;

				&>div {
					padding: 0;
				}
			}
		}
	}
}

/*
.nav--primary {
	&>li.active {
		.section--submenu {
			max-height: 100vh;
		}
	}
}
*/

.submenu__item {
	display: block;
	cursor: pointer;
	transition: none;
	max-width: 33vh;

	.picture--horizontal {
		@include aspect-clip(262, 181);
		margin-bottom: 10px;

		img {
			transition: all 700ms 0ms cubic-bezier(0.320, 0.000, 0.290, 0.990) !important;
		}
	}

	.abstract {
		margin: 20px 0 0 0;
		font-size: 14px;
		line-height: 23px;
		color: $nav-header;
	}

	.title {
		position: relative;
		display: inline-block;
		font-size: 16px;
		font-weight: $font-semibold;
		margin: 15px 0 20px 0;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		padding-bottom: 4px;
		max-width: 100%;

		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 2px;
			background: $foreground-negative;
			transition: all ease-out 350ms;
		}
	}

	&:hover {
		.title {
			&:after {
				transform: scale(0, 1);
			}
		}

		img {
			transform: scale(1.1, 1.1);
		}
	}

	@include media-breakpoint-up(sm) {
		margin: 0 20px 20px 20px;
	}

	@include media-breakpoint-down(xs) {

		.picture,
		.abstract {
			display: none;
		}

		.title {
			margin: 0 0 20px 30px;
		}
	}
}

.submenu__item--lg {
	max-width: 70vh;

	.picture--horizontal {
		@include aspect-clip(650, 450);
		margin-bottom: 10px;
	}
}

.listing--submenu {
	display: flex;
	justify-content: flex-start;

	@include media-breakpoint-up(md) {
		width: calc(100% + 64px);

		&>.submenu__item {
			max-width: calc(33.33% - 64px);
			flex: 1 1 33.33%;
			margin-right: 64px;
		}
	}

}

.nav--submenu {
	flex-wrap: wrap;

	&>li {
		flex: 0 0 25%;

		img {
			max-width: 100%;
		}

		&:first-child {
			flex: 0 0 50%;
		}
	}

}
