// @import url('https://fonts.googleapis.com/css?family=Muli:200,300,600,700');

@font-face {
	font-family: 'Moderat';
	src: url('../fonts/moderat/moderat-light-webfont.woff2') format('woff2'),
		url('../fonts/moderat/moderat-light-webfont.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Moderat';
	src: url('../fonts/moderat/moderat-regular-webfont.woff2') format('woff2'),
		url('../fonts/moderat/moderat-regular-webfont.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Moderat';
	src: url('../fonts/moderat/moderat-medium-webfont.woff2') format('woff2'),
		url('../fonts/moderat/moderat-medium-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Moderat';
	src: url('../fonts/moderat/moderat-bold-webfont.woff2') format('woff2'),
		url('../fonts/moderat/moderat-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Stanley';
	src: url('../fonts/stanley/stanley_-regular-webfont.woff2') format('woff2'),
		url('../fonts/stanley/stanley_-regular-webfont.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
