$background: var(--background);
$background-negative: var(--background-negative);
$background-secondary: var(--background-secondary);
$background-tertiary: var(--background-tertiary);
$background-tertiary-dark: var(--background-tertiary-dark);
$foreground: var(--foreground);
$foreground-negative: var(--foreground-negative);
$foreground-secondary: var(--foreground-secondary);
$background-header: var(--background-header);
$background-subheader: var(--background-subheader);
$foreground-footer: var(--foreground-footer);
$background-tilesize: var(--background-tilesize);
$foreground-tilesize: var(--foreground-tilesize);
$border: var(--border);
$nav-header: var(--nav-header);
$nav-header-secondary: var(--nav-header-secondary);
$nav-product: var(--nav-product);
$nav-product-active: var(--nav-product-active);
$primary: var(--primary);
$primary-active: var(--primary-active);
$store: var(--store);
$store-secondary: var(--store-secondary);
$facebook: var(--facebook);
$google: var(--google);
$font-primary: var(--font-primary);
$font-secondary: var(--font-secondary);
$font-size: var(--font-size);
$font-size-xs: var(--font-size-xs);
$line-height: var(--line-height);
$font-weight: var(--font-weight);
$font-extralight: var(--font-extralight);
$font-light: var(--font-light);
$font-regular: var(--font-regular);
$font-semibold: var(--font-semibold);
$font-bold: var(--font-bold);
$font-extrabold: var(--font-extrabold);
$font-black: var(--font-black);
$btn-radius: var(--btn-radius);
$card-radius: var(--card-radius);
$bullet-size: var(--bullet-size);
