$background: #ffffff;
$background-negative: #000000;
$background-secondary: #ffffff;
$background-tertiary: #f8f5f5;
$background-header: #191919;
$background-subheader: #1a1a1a;
// $background-quaternary: #faf7f7;
// $background-quinary: #faf7f7;
// $background-senary: #faf7f7;
$foreground: #232120;
$foreground-negative: #ffffff;
$foreground-secondary: #4e5256;
$foreground-footer: #605f5e;
$background-tilesize: #cdc9c7;
$foreground-tilesize: #64605d;
$border: #e6e2df;
$nav-header: #b2afb0;
$nav-header-secondary: #7a7778;
$nav-product: #a39296;
$nav-product-active: #f9f5f5;
$primary: #b92442;
$primary-active: #b92442;
$store: #b92442;
$store-secondary: #494948;
$facebook: #3B5998;
$google: #dd4b39;

$background-tertiary-dark: darken($background-tertiary, 15%);
